{{#if resume.skills.length}}
    <div class="container">
        {{> title value="Skills"}}
        {{#each resume.skills}}
            <section class="item">
                {{#if name}}
                    {{> section-header name=name}}
                {{/if}}
                {{#if level}}
                    <h4 class="bold capitalize">{{level}}</h4>
                {{/if}}
                {{#if keywords.length}}
                    <div class="skills flex-container">
                        {{#each keywords}}
                            <h6 class="main-skill skill">{{.}}</h6>
                        {{/each}}
                    </div>
                {{/if}}
            </section>
        {{/each}}
    </div>
{{/if}}
